# OS and IDE Files
.DS_Store
.vscode/
node_modules/
npm-debug.log

# Dependency directories
android/
ios/

# Environment variables
.env

# Build and bundling output
*.apk
*.aab
*.keystore
*.jsbundle
package-lock.json
